<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <svg id="cup" width="144" height="96" viewBox="0 0 12 8" preserveAspectRatio="xMidYMid meet">
      <g shape-rendering="crispEdges">
        <rect width="10" height="7" fill="#ffffff" />
        <svg y="1">
          <rect width="12" height="5" fill="#ffffff" />
        </svg>
        <svg x="1">
          <rect width="8" height="8" fill="#ffffff" />
        </svg>
        <svg x="1" y="1">
          <rect width="8" height="5" fill="#2a7fff" />
        </svg>
        <svg x="2" y="6">
          <rect width="6" height="1" fill="#2a7fff" />
        </svg>
        <svg x="9" y="2">
          <rect width="2" height="3" fill="#2a7fff" />
        </svg>
        <svg x="9" y="3">
          <rect width="1" height="1" fill="#ffffff" />
        </svg>
        <svg x="2" y="2">
          <rect width="6" height="3" fill="#0000d4" />
        </svg>
        <svg x="3" y="5">
          <rect width="4" height="1" fill="#0000d4" />
        </svg>
        <svg x="2" y="1">
          <rect width="6" height="1" fill="#ffffff" />
        </svg>
      </g>
    </svg>
    <h2>{{ page.title }}</h2>
{{ content }}
  </body>
</html>
